In [12]:
import os
import requests
from bs4 import BeautifulSoup
import re

# Move to the data folder for this project
os.chdir('C:/Users/riley/Documents/Coding/DSC/datas/baywheels-data/')

# Get the main URL and turn it into XML soup
r = requests.get("https://s3.amazonaws.com/baywheels-data/")
data = r.text
soup = BeautifulSoup(data, "xml")

# The data file URLs are in the <Key> node so find that
keys = soup.find_all('Key')

key_list = []

# Grab the name of each file by taking the text attribute of the key node
for key in keys:
    key_list.append(key.text)
    
# Slice off the trailing file, index.html
key_list_final = key_list[:-1]

In [13]:
# Downloads all files in the list of filenames.
# Deal with extracting them in the next cell.

import zipfile, urllib.request, shutil

for key in key_list_final:

    url = 'https://s3.amazonaws.com/baywheels-data/' + key
    file_name = key

    with urllib.request.urlopen(url) as response, open(file_name, 'wb') as out_file:
        shutil.copyfileobj(response, out_file)

In [14]:
# For all items ending in .zip in the dir_name, 
# extract their contents to dir_name and delete the original zip folder.

extension = ".zip"
dir_name = 'C:/Users/riley/Documents/Coding/DSC/datas/baywheels-data'

for item in os.listdir(dir_name): # loop through items in dir
    if item.endswith(extension): # check for ".zip" extension
        file_name = os.path.abspath(item) # get full path of files
        zip_ref = zipfile.ZipFile(file_name) # create zipfile object
        zip_ref.extractall(dir_name) # extract file to dir
        zip_ref.close() # close file
        os.remove(file_name) # delete zipped file

In [15]:
# Create a list of all CSVs in the directory to iterate over and make
# dataframes from.

dir_name = 'C:/Users/riley/Documents/Coding/DSC/datas/baywheels-data/'

# List of all .csv filenames to be read into dataframes
csv_list = os.listdir(dir_name)

# Build a list of dataframe names by removing .csv
df_names = []

for csv in csv_list:
    df_name = csv.replace('.csv', '')
    df_names.append(df_name)

In [16]:
# Names of DFs and the filenames
df_dict_names = dict(zip(df_names, csv_list))

In [17]:
import pandas as pd

# Create a dictionary of dataframes to then concatenate into one dataframe

dict_of_dataframes = {}
for i in range(len(df_names)):
    dict_of_dataframes[df_names[i]] = pd.read_csv(csv_list[i])

In [18]:
master_df = pd.concat(dict_of_dataframes.values())

c:\users\riley\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [78]:
# Create all data cleaning processing steps in one DF and batch process
# the rest on the server or cloud.

dev_df = pd.read_csv('201801-fordgobike-tripdata.csv')

In [79]:
# Establish data cleaning protocols for this df and then apply to master
# on server or cloud if needed but it shouldn't be too computationally
# taxing either way.

dev_df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120,Mission Dolores Park,37.761420,-122.426435,285,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304,Jackson St at 5th St,37.348759,-121.894798,296,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75,Market St at Franklin St,37.773793,-122.421239,47,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74,Laguna St at Hayes St,37.776435,-122.426244,19,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No

In [80]:
dev_df.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,94802.000000,94802.000000,94802.000000,94802.000000,94802.00000,94802.000000,94802.000000,94802.000000,86963.000000
mean,870.935930,103.766302,37.773321,-122.361677,101.00982,37.773536,-122.360776,2048.751609,1980.932420
std,2550.596891,87.730464,0.085744,0.105253,86.77949,0.085552,0.104580,1091.507513,10.803017
min,61.000000,3.000000,37.317298,-122.444293,3.00000,37.317298,-122.444293,11.000000,1900.000000
25%,359.000000,30.000000,37.771662,-122.412408,27.00000,37.773063,-122.411306,1133.000000,1975.000000
50%,555.000000,79.000000,37.781270,-122.398773,76.00000,37.781752,-122.398436,2151.500000,1983.000000
75%,854.000000,160.000000,37.795392,-122.390428,157.00000,37.795392,-122.390428,3015.000000,1989.000000
max,85546.000000,342.000000,37.880222,-121.874119,342.00000,37.880222,-121.874119,3744.000000,2000.000000

In [81]:
# Get the duration of the ride in minutes by dividing the seconds column by 60

dev_df['duration_min'] = dev_df['duration_sec'] / 60
dev_df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip,duration_min
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120,Mission Dolores Park,37.761420,-122.426435,285,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No,1254.733333
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No,1423.700000
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304,Jackson St at 5th St,37.348759,-121.894798,296,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No,1192.933333
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75,Market St at Franklin St,37.773793,-122.421239,47,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No,1017.933333
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74,Laguna St at Hayes St,37.776435,-122.426244,19,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No,666.100000

In [82]:
# Similarly, 

dev_df['duration_hr'] = dev_df['duration_min'] / 60

In [83]:
date = lambda x: x.split(' ')[0]

dev_df['start_date'] = dev_df['start_time'].apply(date)

In [84]:
date = lambda x: x.split(' ')[0]

dev_df['end_date'] = dev_df['end_time'].apply(date)

In [88]:
time = lambda x: x.split(' ')[1]

dev_df['start_just_time'] = dev_df['start_time'].apply(time)

In [89]:
time = lambda x: x.split(' ')[1]

dev_df['end_just_time'] = dev_df['end_time'].apply(time)

In [90]:
dev_df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,...,user_type,member_birth_year,member_gender,bike_share_for_all_trip,duration_min,duration_hr,start_date,end_date,start_just_time,end_just_time
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120,Mission Dolores Park,37.761420,-122.426435,285,Webster St at O'Farrell St,37.783521,...,Subscriber,1986.0,Male,No,1254.733333,20.912222,2018-01-31,2018-02-01,22:52:35.2390,19:47:19.8240
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,...,Customer,NaN,NaN,No,1423.700000,23.728333,2018-01-31,2018-02-01,16:13:34.3510,15:57:17.3100
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304,Jackson St at 5th St,37.348759,-121.894798,296,5th St at Virginia St,37.325998,...,Customer,1996.0,Male,No,1192.933333,19.882222,2018-01-31,2018-02-01,14:23:55.8890,10:16:52.1160
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75,Market St at Franklin St,37.773793,-122.421239,47,4th St at Harrison St,37.780955,...,Customer,NaN,NaN,No,1017.933333,16.965556,2018-01-31,2018-02-01,14:53:23.5620,07:51:20.5000
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74,Laguna St at Hayes St,37.776435,-122.426244,19,Post St at Kearny St,37.788975,...,Subscriber,1991.0,Male,No,666.100000,11.101667,2018-01-31,2018-02-01,19:52:24.6670,06:58:31.0530

In [93]:
# Re-order the columns so the time information is at the beginning

dev_df = dev_df[['duration_sec', 'duration_min', 'duration_hr', 'start_time', 'end_time', 'start_date', 'end_date',
       'start_just_time', 'end_just_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'member_birth_year', 'member_gender', 'bike_share_for_all_trip']]

In [110]:
# Will now interpolate the member_birth_year with the mean birth year
# Also, I'm gonna get their age by subtracting now() from their birth year

import numpy as np

dev_df['member_birth_year'].fillna(np.mean(dev_df['member_birth_year']), inplace=True)

In [112]:
# That got years as floats so I'm changing it to int:

dev_df['member_birth_year'] = dev_df['member_birth_year'].apply(np.int64)

In [115]:
# Now let's get the current year and subtract that from birth year to get age.

import datetime
now = datetime.datetime.now()

dev_df['age'] = now.year - dev_df['member_birth_year']

In [120]:
# The hardest part is going to be reverse engineering the pricing model from the website and interpolating
# the price per ride based on that, but here we go:

# determining if it matters to deal with the bike_share_for_all marketing campaign ($5 for annual membership)
dev_df['bike_share_for_all_trip'].value_counts()

No     88680
Yes     6122
Name: bike_share_for_all_trip, dtype: int64

In [125]:
# Check that bike_share_for_all_trip corresponds to only subscriber type users
dev_df[(dev_df['bike_share_for_all_trip'] == 'Yes') & (dev_df['user_type'] == 'Subscriber')]

,duration_sec,duration_min,duration_hr,start_time,end_time,start_date,end_date,start_just_time,end_just_time,start_station_id,...,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip,age
8,996,16.600000,0.276667,2018-01-31 23:34:56.0040,2018-01-31 23:51:32.6740,2018-01-31,2018-01-31,23:34:56.0040,23:51:32.6740,134,...,4,Cyril Magnin St at Ellis St,37.785881,-122.408915,3675,Subscriber,1987,Male,Yes,32
9,825,13.750000,0.229167,2018-01-31 23:34:14.0270,2018-01-31 23:47:59.8090,2018-01-31,2018-01-31,23:34:14.0270,23:47:59.8090,305,...,317,San Salvador St at 9th St,37.333955,-121.877349,1453,Subscriber,1994,Female,Yes,25
13,887,14.783333,0.246389,2018-01-31 23:24:16.3570,2018-01-31 23:39:04.1230,2018-01-31,2018-01-31,23:24:16.3570,23:39:04.1230,308,...,297,Locust St at Grant St,37.322980,-121.887931,55,Subscriber,1976,Female,Yes,43
16,808,13.466667,0.224444,2018-01-31 23:19:58.6030,2018-01-31 23:33:27.5310,2018-01-31,2018-01-31,23:19:58.6030,23:33:27.5310,67,...,98,Valencia St at 16th St,37.765052,-122.421866,3041,Subscriber,1976,Male,Yes,43
22,150,2.500000,0.041667,2018-01-31 23:10:09.5860,2018-01-31 23:12:40.3330,2018-01-31,2018-01-31,23:10:09.5860,23:12:40.3330,182,...,183,Telegraph Ave at 19th St,37.808702,-122.269927,3468,Subscriber,1945,Male,Yes,74
23,462,7.700000,0.128333,2018-01-31 23:03:48.9400,2018-01-31 23:11:31.0290,2018-01-31,2018-01-31,23:03:48.9400,23:11:31.0290,119,...,134,Valencia St at 24th St,37.752428,-122.420628,1432,Subscriber,1971,Male,Yes,48
39,1305,21.750000,0.362500,2018-01-31 22:32:18.1260,2018-01-31 22:54:03.4990,2018-01-31,2018-01-31,22:32:18.1260,22:54:03.4990,76,...,59,S Van Ness Ave at Market St,37.774814,-122.418954,2421,Subscriber,1994,Male,Yes,25
98,328,5.466667,0.091111,2018-01-31 21:55:12.7790,2018-01-31 22:00:41.1110,2018-01-31,2018-01-31,21:55:12.7790,22:00:41.1110,314,...,278,The Alameda at Bush St,37.331932,-121.904888,3601,Subscriber,1995,Male,Yes,24
123,619,10.316667,0.171944,2018-01-31 21:37:41.5050,2018-01-31 21:48:01.3860,2018-01-31,2018-01-31,21:37:41.5050,21:48:01.3860,280,...,296,5th St at Virginia St,37.325998,-121.877120,2656,Subscriber,1995,Female,Yes,24
135,114,1.900000,0.031667,2018-01-31 21:39:33.1640,2018-01-31 21:41:27.2340,2018-01-31,2018-01-31,21:39:33.1640,21:41:27.2340,41,...,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,3001,Subscriber,1984,Female,Yes,35
148,165,2.750000,0.045833,2018-01-31 21:31:40.9720,2018-01-31 21:34:26.3370,2018-01-31,2018-01-31,21:31:40.9720,21:34:26.3370,59,...,76,McCoppin St at Valencia St,37.771662,-122.422423,2421,Subscriber,1994,Male,Yes,25
154,643,10.716667,0.178611,2018-01-31 21:21:52.7320,2018-01-31 21:32:35.9910,2018-01-31,2018-01-31,21:21:52.7320,21:32:35.9910,3,...,93,4th St at Mission Bay Blvd S,37.770407,-122.391198,2792,Subscriber,1990,Female,Yes,29
168,1083,18.050000,0.300833,2018-01-31 21:08:13.8480,2018-01-31 21:26:17.8290,2018-01-31,2018-01-31,21:08:13.8480,21:26:17.8290,123,...,3,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,512,Subscriber,1980,Female,Yes,39
186,393,6.550000,0.109167,2018-01-31 21:12:03.4210,2018-01-31 21:18:37.3910,2018-01-31,2018-01-31,21:12:03.4210,21:18:37.3910,327,...,296,5th St at Virginia St,37.325998,-121.877120,1462,Subscriber,1993,Male,Yes,26
196,202,3.366667,0.056111,2018-01-31 21:10:31.6210,2018-01-31 21:13:53.8400,2018-01-31,2018-01-31,21:10:31.6210,21:13:53.8400,171,...,170,Telegraph Ave at 58th St,37.844493,-122.261351,154,Subscriber,1977,Male,Yes,42
204,1890,31.500000,0.525000,2018-01-31 20:39:16.8870,2018-01-31 21:10:47.8080,2018-01-31,2018-01-31,20:39:16.8870,21:10:47.8080,249,...,241,Ashby BART Station,37.852477,-122.270213,1512,Subscriber,1975,Female,Yes,44
208,344,5.733333,0.095556,2018-01-31 21:03:59.1750,2018-01-31 21:09:44.1390,2018-01-31,2018-01-31,21:03:59.1750,21:09:44.1390,44,...,36,Folsom St at 3rd St,37.783830,-122.398870,1034,Subscriber,1993,Male,Yes,26
226,489,8.150000,0.135833,2018-01-31 20:53:25.7990,2018-01-31 21:01:35.5120,2018-01-31,2018-01-31,20:53:25.7990,21:01:35.5120,129,...,127,Valencia St at 21st St,37.756708,-122.421025,298,Subscriber,1965,Male,Yes,54
230,2023,33.716667,0.561944,2018-01-31 20:25:05.1890,2018-01-31 20:58:48.8300,2018-01-31,2018-01-31,20:25:05.1890,20:58:48.8300,311,...,311,Paseo De San Antonio at 2nd St,37.333798,-121.886943,1213,Subscriber,1993,Male,Yes,26
235,2057,34.283333,0.571389,2018-01-31 20:21:46.4380,2018-01-31 20:56:04.0060,2018-01-31,2018-01-31,20:21:46.4380,20:56:04.0060,230,...,243,Bancroft Way at College Ave,37.869360,-122.254337,272,Subscriber,1997,Other,Yes,22
239,947,15.783333,0.263056,2018-01-31 20:39:07.0380,2018-01-31 20:54:54.6080,2018-01-31,2018-01-31,20:39:07.0380,20:54:54.6080,259,...,259,Addison St at Fourth St,37.866249,-122.299371,535,Subscriber,1959,Male,Yes,60
253,132,2.200000,0.036667,2018-01-31 20:47:05.2270,2018-01-31 20:49:17.2970,2018-01-31,2018-01-31,20:47:05.2270,20:49:17.2970,183,...,180,Telegraph Ave at 23rd St,37.812678,-122.268773,3264,Subscriber,1979,Male,Yes,40
267,297,4.950000,0.082500,2018-01-31 20:40:59.0690,2018-01-31 20:45:56.4370,2018-01-31,2018-01-31,20:40:59.0690,20:45:56.4370,100,...,102,Irwin St at 8th St,37.766883,-122.399579,1122,Subscriber,1995,Female,Yes,24
307,698,11.633333,0.193889,2018-01-31 20:22:38.7070,2018-01-31 20:34:16.8710,2018-01-31,2018-01-31,20:22:38.7070,20:34:16.8710,243,...,249,Russell St at College Ave,37.858473,-122.253253,265,Subscriber,1975,Female,Yes,44
318,2393,39.883333,0.664722,2018-01-31 19:51:28.4830,2018-01-31 20:31:21.5670,2018-01-31,2018-01-31,19:51:28.4830,20:31:21.5670,276,...,276,Julian St at The Alameda,37.332233,-121.912517,623,Subscriber,1993,Male,Yes,26
320,2359,39.316667,0.655278,2018-01-31 19:51:28.8600,2018-01-31 20:30:48.7030,2018-01-31,2018-01-31,19:51:28.8600,20:30:48.7030,276,...,276,Julian St at The Alameda,37.332233,-121.912517,2227,Subscriber,1994,Male,Yes,25
322,191,3.183333,0.053056,2018-01-31 20:27:23.0250,2018-01-31 20:30:34.5070,2018-01-31,2018-01-31,20:27:23.0250,20:30:34.5070,280,...,309,San Jose City Hall,37.337391,-121.886995,2807,Subscriber,1994,Male,Yes,25
326,443,7.383333,0.123056,2018-01-31 20:22:40.4110,2018-01-31 20:30:03.4620,2018-01-31,2018-01-31,20:22:40.4110,20:30:03.4620,41,...,321,5th at Folsom,37.780146,-122.403071,3683,Subscriber,1965,Male,Yes,54
334,582,9.700000,0.161667,2018-01-31 20:17:36.7670,2018-01-31 20:27:19.7370,2018-01-31,2018-01-31,20:17:36.7670,20:27:19.7370,76,...,90,Townsend St at 7th St,37.771058,-122.402717,1100,Subscriber,1981,Male,Yes,38
336,528,8.800000,0.146667,2018-01-31 20:17:50.2050,2018-01-31 20:26:38.9110,2018-01-31,2018-01-31,20:17:50.2050,20:26:38.9110,112,...,96,Dolores St at 15th St,37.766210,-122.426614,3190,Subscriber,1987,Male,Yes,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94594,526,8.766667,0.146111,2018-01-01 09:32:34.1040,2018-01-01 09:41:20.7060,2018-01-01,2018-01-01,09:32:34.1040,09:41:20.7060,305,...,311,Paseo De San Antonio at 2nd St,37.333798,-121.886943,1849,Subscriber,1987,Male,Yes,32
94595,308,5.133333,0.085556,2018-01-01 09:35:31.1180,2018-01-01 09:40:39.6280,2018-01-01,2018-01-01,09:35:31.1180,09:40:39.6280,59,...,97,14th St at Mission St,37.768265,-122.420110,2235,Subscriber,1948,Male,Yes,71
94604,943,15.716667,0.261944,2018-01-01 09:08:56.5900,2018-01-01 09:24:40.0030,2018-01-01,2018-01-01,09:08:56.5900,09:24:40.0030,7,...,220,San Pablo Ave at MLK Jr Way,37.811351,-122.273422,2394,Subscriber,1980,Male,Yes,39
94611,611,10.183333,0.169722,2018-01-01 09:02:41.1640,2018-01-01 09:12:52.4440,2018-01-01,2018-01-01,09:02:41.1640,09:12:52.4440,159,...,7,Frank H Ogawa Plaza,37.804562,-122.271738,3411,Subscriber,1971,Female,Yes,48
94622,842,14.033333,0.233889,2018-01-01 08:40:24.5660,2018-01-01 08:54:27.3320,2018-01-01,2018-01-01,08:40:24.5660,08:54:27.3320,230,...,195,Bay Pl at Vernon St,37.812314,-122.260779,1350,Subscriber,1988,Female,Yes,31
94642,402,6.700000,0.111667,2018-01-01 07:07:36.3220,2018-01-01 07:14:18.3600,2018-01-01,2018-01-01,07:07:36.3220,07:14:18.3600,196,...,179,Telegraph Ave at 27th St,37.816073,-122.267886,3439,Subscriber,1993,Male,Yes,26
94649,930,15.500000,0.258333,2018-01-01 06:28:05.8870,2018-01-01 06:43:36.0760,2018-01-01,2018-01-01,06:28:05.8870,06:43:36.0760,122,...,34,Father Alfred E Boeddeker Park,37.783988,-122.412408,3116,Subscriber,1961,Male,Yes,58
94651,214,3.566667,0.059444,2018-01-01 06:24:01.7280,2018-01-01 06:27:36.3590,2018-01-01,2018-01-01,06:24:01.7280,06:27:36.3590,179,...,195,Bay Pl at Vernon St,37.812314,-122.260779,804,Subscriber,1993,Male,Yes,26
94653,316,5.266667,0.087778,2018-01-01 05:57:00.8060,2018-01-01 06:02:17.0700,2018-01-01,2018-01-01,05:57:00.8060,06:02:17.0700,227,...,227,Foothill Blvd at Fruitvale Ave,37.783757,-122.222603,3327,Subscriber,1968,Male,Yes,51
94659,2636,43.933333,0.732222,2018-01-01 03:26:33.0120,2018-01-01 04:10:29.0640,2018-01-01,2018-01-01,03:26:33.0120,04:10:29.0640,9,...,27,Beale St at Harrison St,37.788059,-122.391865,2411,Subscriber,1997,Male,Yes,22
94660,2633,43.883333,0.731389,2018-01-01 03:26:34.2140,2018-01-01 04:10:28.0420,2018-01-01,2018-01-01,03:26:34.2140,04:10:28.0420,9,...,27,Beale St at Harrison St,37.788059,-122.391865,2947,Subscriber,1998,Male,Yes,21
94664,489,8.150000,0.135833,2018-01-01 03:25:40.1740,2018-01-01 03:33:50.0630,2018-01-01,2018-01-01,03:25:40.1740,03:33:50.0630,312,...,310,San Fernando St at 4th St,37.335885,-121.885660,172,Subscriber,1994,Male,Yes,25
94665,486,8.100000,0.135000,2018-01-01 03:25:36.0630,2018-01-01 03:33:42.2690,2018-01-01,2018-01-01,03:25:36.0630,03:33:42.2690,312,...,310,San Fernando St at 4th St,37.335885,-121.885660,3429,Subscriber,1994,Male,Yes,25
94666,400,6.666667,0.111111,2018-01-01 03:24:13.3170,2018-01-01 03:30:53.7680,2018-01-01,2018-01-01,03:24:13.3170,03:30:53.7680,35,...,276,Julian St at The Alameda,37.332233,-121.912517,1760,Subscriber,1996,Female,Yes,23
94667,406,6.766667,0.112778,2018-01-01 03:24:07.2790,2018-01-01 03:30:53.6120,2018-01-01,2018-01-01,03:24:07.2790,03:30:53.6120,35,...,276,Julian St at The Alameda,37.332233,-121.912517,48,Subscriber,1994,Female,Yes,25
94673,191,3.183333,0.053056,2018-01-01 03:16:03.7520,2018-01-01 03:19:15.4310,2018-01-01,2018-01-01,03:16:03.7520,03:19:15.4310,35,...,277,Morrison Ave at Julian St,37.333658,-121.908586,1812,Subscriber,1990,Male,Yes,29
94674,196,3.266667,0.054444,2018-01-01 03:15:58.2400,2018-01-01 03:19:14.5780,2018-01-01,2018-01-01,03:15:58.2400,03:19:14.5780,35,...,277,Morrison Ave at Julian St,37.333658,-121.908586,2891,Subscriber,1990,Male,Yes,29
94675,1037,17.283333,0.288056,2018-01-01 02:43:16.9650,2018-01-01 03:00:34.5170,2018-01-01,2018-01-01,02:43:16.9650,03:00:34.5170,95,...,134,Valencia St at 24th St,37.752428,-122.420628,2906,Subscriber,1963,Female,Yes,56
94688,406,6.766667,0.112778,2018-01-01 02:33:02.9590,2018-01-01 02:39:49.7200,2018-01-01,2018-01-01,02:33:02.9590,02:39:49.7200,7,...,235,Union St at 10th St,37.807239,-122.289370,2673,Subscriber,1963,Female,Yes,56
94720,333,5.550000,0.092500,2018-01-01 01:49:32.0840,2018-01-01 01:55:05.2810,2018-01-01,2018-01-01,01:49:32.0840,01:55:05.2810,314,...,278,The Alameda at Bush St,37.331932,-121.904888,756,Subscriber,1993,Male,Yes,26
94742,1329,22.150000,0.369167,2018-01-01 00:57:39.3560,2018-01-01 01:19:48.5980,2018-01-01,2018-01-01,00:57:39.3560,01:19:48.5980,88,...,323,Broadway at Kearny,37.798014,-122.405950,1750,Subscriber,1989,Male,Yes,30
94754,791,13.183333,0.219722,2018-01-01 00:57:09.5690,2018-01-01 01:10:21.0090,2018-01-01,2018-01-01,00:57:09.5690,01:10:21.0090,28,...,67,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,2336,Subscriber,1990,Male,Yes,29
94755,787,13.116667,0.218611,2018-01-01 00:57:06.8340,2018-01-01 01:10:14.4680,2018-01-01,2018-01-01,00:57:06.8340,01:10:14.4680,28,...,67,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,774,Subscriber,1990,Male,Yes,29
94764,2379,39.650000,0.660833,2018-01-01 00:19:49.1170,2018-01-01 00:59:28.2030,2018-01-01,2018-01-01,00:19:49.1170,00:59:28.2030,17,...,8,The Embarcadero at Vallejo St,37.799953,-122.398525,346,Subscriber,1994,Female,Yes,25
94765,1056,17.600000,0.293333,2018-01-01 00:41:38.4440,2018-01-01 00:59:15.2390,2018-01-01,2018-01-01,00:41:38.4440,00:59:15.2390,15,...,13,Commercial St at Montgomery St,37.794231,-122.402923,2881,Subscriber,1992,Male,Yes,27
94766,2478,41.300000,0.688333,2018-01-01 00:17:54.5880,2018-01-01 00:59:13.4480,2018-01-01,2018-01-01,00:17:54.5880,00:59:13.4480,17,...,8,The Embarcadero at Vallejo St,37.799953,-122.398525,1586,Subscriber,1993,Female,Yes,26
94767,1165,19.416667,0.323611,2018-01-01 00:39:45.6700,2018-01-01 00:59:10.9530,2018-01-01,2018-01-01,00:39:45.6700,00:59:10.9530,15,...,13,Commercial St at Montgomery St,37.794231,-122.402923,1568,Subscriber,1993,Female,Yes,26
94768,996,16.600000,0.276667,2018-01-01 00:42:25.8340,2018-01-01 00:59:02.3920,2018-01-01,2018-01-01,00:42:25.8340,00:59:02.3920,15,...,13,Commercial St at Montgomery St,37.794231,-122.402923,533,Subscriber,1994,Male,Yes,25
94769,1181,19.683333,0.328056,2018-01-01 00:39:18.6070,2018-01-01 00:58:59.8360,2018-01-01,2018-01-01,00:39:18.6070,00:58:59.8360,15,...,13,Commercial St at Montgomery St,37.794231,-122.402923,1691,Subscriber,1993,Male,Yes,26
94770,2603,43.383333,0.723056,2018-01-01 00:15:33.3690,2018-01-01 00:58:56.5220,2018-01-01,2018-01-01,00:15:33.3690,00:58:56.5220,17,...,8,The Embarcadero at Vallejo St,37.799953,-122.398525,1788,Subscriber,1994,Male,Yes,25

In [127]:
dev_df[(dev_df['duration_min'] <= 45.00000000) & (dev_df['user_type'] == 'Subscriber')]

,duration_sec,duration_min,duration_hr,start_time,end_time,start_date,end_date,start_just_time,end_just_time,start_station_id,...,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip,age
6,453,7.550000,0.125833,2018-01-31 23:53:53.6320,2018-02-01 00:01:26.8050,2018-01-31,2018-02-01,23:53:53.6320,00:01:26.8050,110,...,134,Valencia St at 24th St,37.752428,-122.420628,3571,Subscriber,1988,Male,No,31
7,180,3.000000,0.050000,2018-01-31 23:52:09.9030,2018-01-31 23:55:10.8070,2018-01-31,2018-01-31,23:52:09.9030,23:55:10.8070,81,...,93,4th St at Mission Bay Blvd S,37.770407,-122.391198,1403,Subscriber,1980,Male,No,39
8,996,16.600000,0.276667,2018-01-31 23:34:56.0040,2018-01-31 23:51:32.6740,2018-01-31,2018-01-31,23:34:56.0040,23:51:32.6740,134,...,4,Cyril Magnin St at Ellis St,37.785881,-122.408915,3675,Subscriber,1987,Male,Yes,32
9,825,13.750000,0.229167,2018-01-31 23:34:14.0270,2018-01-31 23:47:59.8090,2018-01-31,2018-01-31,23:34:14.0270,23:47:59.8090,305,...,317,San Salvador St at 9th St,37.333955,-121.877349,1453,Subscriber,1994,Female,Yes,25
11,432,7.200000,0.120000,2018-01-31 23:34:26.4840,2018-01-31 23:41:39.2970,2018-01-31,2018-01-31,23:34:26.4840,23:41:39.2970,89,...,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,2928,Subscriber,1993,Male,No,26
12,601,10.016667,0.166944,2018-01-31 23:29:46.8320,2018-01-31 23:39:48.0000,2018-01-31,2018-01-31,23:29:46.8320,23:39:48.0000,223,...,86,Market St at Dolores St,37.769305,-122.426826,3016,Subscriber,1957,Male,No,62
13,887,14.783333,0.246389,2018-01-31 23:24:16.3570,2018-01-31 23:39:04.1230,2018-01-31,2018-01-31,23:24:16.3570,23:39:04.1230,308,...,297,Locust St at Grant St,37.322980,-121.887931,55,Subscriber,1976,Female,Yes,43
14,210,3.500000,0.058333,2018-01-31 23:33:03.0460,2018-01-31 23:36:33.7040,2018-01-31,2018-01-31,23:33:03.0460,23:36:33.7040,7,...,186,Lakeside Dr at 14th St,37.801319,-122.262642,2602,Subscriber,1976,Male,No,43
15,188,3.133333,0.052222,2018-01-31 23:30:58.1360,2018-01-31 23:34:06.3910,2018-01-31,2018-01-31,23:30:58.1360,23:34:06.3910,98,...,76,McCoppin St at Valencia St,37.771662,-122.422423,2556,Subscriber,1964,Female,No,55
16,808,13.466667,0.224444,2018-01-31 23:19:58.6030,2018-01-31 23:33:27.5310,2018-01-31,2018-01-31,23:19:58.6030,23:33:27.5310,67,...,98,Valencia St at 16th St,37.765052,-122.421866,3041,Subscriber,1976,Male,Yes,43
17,378,6.300000,0.105000,2018-01-31 23:23:23.0680,2018-01-31 23:29:42.0440,2018-01-31,2018-01-31,23:23:23.0680,23:29:42.0440,80,...,78,Folsom St at 9th St,37.773717,-122.411647,546,Subscriber,1995,Female,No,24
18,350,5.833333,0.097222,2018-01-31 23:13:45.5290,2018-01-31 23:19:36.2650,2018-01-31,2018-01-31,23:13:45.5290,23:19:36.2650,247,...,274,Oregon St at Adeline St,37.857567,-122.267558,431,Subscriber,1980,NaN,No,39
19,686,11.433333,0.190556,2018-01-31 23:07:15.3130,2018-01-31 23:18:41.5580,2018-01-31,2018-01-31,23:07:15.3130,23:18:41.5580,312,...,317,San Salvador St at 9th St,37.333955,-121.877349,1886,Subscriber,1997,Female,No,22
20,450,7.500000,0.125000,2018-01-31 23:07:13.0630,2018-01-31 23:14:43.8140,2018-01-31,2018-01-31,23:07:13.0630,23:14:43.8140,241,...,157,65th St at Hollis St,37.846784,-122.291376,3583,Subscriber,1994,Male,No,25
21,294,4.900000,0.081667,2018-01-31 23:08:12.0000,2018-01-31 23:13:06.6360,2018-01-31,2018-01-31,23:08:12.0000,23:13:06.6360,239,...,244,Shattuck Ave at Hearst Ave,37.873792,-122.268618,2144,Subscriber,1983,Male,No,36
22,150,2.500000,0.041667,2018-01-31 23:10:09.5860,2018-01-31 23:12:40.3330,2018-01-31,2018-01-31,23:10:09.5860,23:12:40.3330,182,...,183,Telegraph Ave at 19th St,37.808702,-122.269927,3468,Subscriber,1945,Male,Yes,74
23,462,7.700000,0.128333,2018-01-31 23:03:48.9400,2018-01-31 23:11:31.0290,2018-01-31,2018-01-31,23:03:48.9400,23:11:31.0290,119,...,134,Valencia St at 24th St,37.752428,-122.420628,1432,Subscriber,1971,Male,Yes,48
24,379,6.316667,0.105278,2018-01-31 23:04:27.7010,2018-01-31 23:10:46.9760,2018-01-31,2018-01-31,23:04:27.7010,23:10:46.9760,176,...,189,Genoa St at 55th St,37.839649,-122.271756,997,Subscriber,1975,Male,No,44
25,880,14.666667,0.244444,2018-01-31 22:53:41.3020,2018-01-31 23:08:21.4430,2018-01-31,2018-01-31,22:53:41.3020,23:08:21.4430,123,...,145,29th St at Church St,37.743684,-122.426806,3725,Subscriber,1986,Male,No,33
26,1210,20.166667,0.336111,2018-01-31 22:45:37.1250,2018-01-31 23:05:47.5760,2018-01-31,2018-01-31,22:45:37.1250,23:05:47.5760,285,...,133,Valencia St at 22nd St,37.755213,-122.420975,1059,Subscriber,1991,Male,No,28
27,259,4.316667,0.071944,2018-01-31 23:01:12.7920,2018-01-31 23:05:32.1570,2018-01-31,2018-01-31,23:01:12.7920,23:05:32.1570,239,...,266,Parker St at Fulton St,37.862464,-122.264791,1208,Subscriber,1994,Male,No,25
29,1059,17.650000,0.294167,2018-01-31 22:45:16.5700,2018-01-31 23:02:56.2850,2018-01-31,2018-01-31,22:45:16.5700,23:02:56.2850,141,...,79,7th St at Brannan St,37.773492,-122.403673,1248,Subscriber,1988,Male,No,31
30,375,6.250000,0.104167,2018-01-31 22:56:31.0820,2018-01-31 23:02:46.5830,2018-01-31,2018-01-31,22:56:31.0820,23:02:46.5830,15,...,6,The Embarcadero at Sansome St,37.804770,-122.403234,3401,Subscriber,1988,Male,No,31
31,300,5.000000,0.083333,2018-01-31 22:57:24.0420,2018-01-31 23:02:24.2720,2018-01-31,2018-01-31,22:57:24.0420,23:02:24.2720,114,...,93,4th St at Mission Bay Blvd S,37.770407,-122.391198,3224,Subscriber,1981,Male,No,38
32,2219,36.983333,0.616389,2018-01-31 22:24:39.9430,2018-01-31 23:01:39.5710,2018-01-31,2018-01-31,22:24:39.9430,23:01:39.5710,30,...,81,Berry St at 4th St,37.775880,-122.393170,1757,Subscriber,1991,Female,No,28
33,330,5.500000,0.091667,2018-01-31 22:55:48.0730,2018-01-31 23:01:18.5060,2018-01-31,2018-01-31,22:55:48.0730,23:01:18.5060,99,...,124,19th St at Florida St,37.760447,-122.410807,3379,Subscriber,1983,Male,No,36
35,2032,33.866667,0.564444,2018-01-31 22:25:00.1850,2018-01-31 22:58:53.0710,2018-01-31,2018-01-31,22:25:00.1850,22:58:53.0710,182,...,266,Parker St at Fulton St,37.862464,-122.264791,2169,Subscriber,1990,Male,No,29
36,196,3.266667,0.054444,2018-01-31 22:55:25.4130,2018-01-31 22:58:42.1420,2018-01-31,2018-01-31,22:55:25.4130,22:58:42.1420,93,...,81,Berry St at 4th St,37.775880,-122.393170,1403,Subscriber,1980,Male,No,39
37,1499,24.983333,0.416389,2018-01-31 22:33:06.6430,2018-01-31 22:58:06.3040,2018-01-31,2018-01-31,22:33:06.6430,22:58:06.3040,44,...,144,Precita Park,37.747300,-122.411403,2528,Subscriber,1970,Female,No,49
38,712,11.866667,0.197778,2018-01-31 22:45:36.9240,2018-01-31 22:57:29.3250,2018-01-31,2018-01-31,22:45:36.9240,22:57:29.3250,285,...,95,Sanchez St at 15th St,37.766219,-122.431060,3619,Subscriber,1992,Male,No,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94725,328,5.466667,0.091111,2018-01-01 01:39:40.1490,2018-01-01 01:45:08.7600,2018-01-01,2018-01-01,01:39:40.1490,01:45:08.7600,182,...,196,Grand Ave at Perkins St,37.808894,-122.256460,2845,Subscriber,1982,Male,No,37
94726,465,7.750000,0.129167,2018-01-01 01:35:26.6140,2018-01-01 01:43:11.6640,2018-01-01,2018-01-01,01:35:26.6140,01:43:11.6640,109,...,88,11th St at Bryant St,37.770030,-122.411726,3356,Subscriber,1981,Male,No,38
94728,691,11.516667,0.191944,2018-01-01 01:15:19.0920,2018-01-01 01:26:50.3040,2018-01-01,2018-01-01,01:15:19.0920,01:26:50.3040,66,...,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,2642,Subscriber,1984,Male,No,35
94731,1044,17.400000,0.290000,2018-01-01 01:08:13.4570,2018-01-01 01:25:37.6900,2018-01-01,2018-01-01,01:08:13.4570,01:25:37.6900,127,...,126,Esprit Park,37.761634,-122.390648,972,Subscriber,1979,Male,No,40
94736,594,9.900000,0.165000,2018-01-01 01:13:53.3660,2018-01-01 01:23:47.4740,2018-01-01,2018-01-01,01:13:53.3660,01:23:47.4740,72,...,121,Mission Playground,37.759210,-122.421339,974,Subscriber,1987,Male,No,32
94742,1329,22.150000,0.369167,2018-01-01 00:57:39.3560,2018-01-01 01:19:48.5980,2018-01-01,2018-01-01,00:57:39.3560,01:19:48.5980,88,...,323,Broadway at Kearny,37.798014,-122.405950,1750,Subscriber,1989,Male,Yes,30
94745,1052,17.533333,0.292222,2018-01-01 01:00:16.3310,2018-01-01 01:17:48.6080,2018-01-01,2018-01-01,01:00:16.3310,01:17:48.6080,64,...,124,19th St at Florida St,37.760447,-122.410807,3302,Subscriber,1984,Male,No,35
94746,145,2.416667,0.040278,2018-01-01 01:11:56.7740,2018-01-01 01:14:21.7760,2018-01-01,2018-01-01,01:11:56.7740,01:14:21.7760,141,...,134,Valencia St at 24th St,37.752428,-122.420628,3659,Subscriber,1987,Male,No,32
94747,631,10.516667,0.175278,2018-01-01 01:03:19.2990,2018-01-01 01:13:51.0630,2018-01-01,2018-01-01,01:03:19.2990,01:13:51.0630,24,...,81,Berry St at 4th St,37.775880,-122.393170,3681,Subscriber,1983,Male,No,36
94748,636,10.600000,0.176667,2018-01-01 01:03:09.1500,2018-01-01 01:13:45.5490,2018-01-01,2018-01-01,01:03:09.1500,01:13:45.5490,24,...,81,Berry St at 4th St,37.775880,-122.393170,2401,Subscriber,1988,Female,No,31
94749,283,4.716667,0.078611,2018-01-01 01:08:39.7430,2018-01-01 01:13:22.7980,2018-01-01,2018-01-01,01:08:39.7430,01:13:22.7980,176,...,211,Broadway at 40th St,37.827757,-122.256716,1314,Subscriber,1979,Male,No,40
94753,731,12.183333,0.203056,2018-01-01 00:58:23.3830,2018-01-01 01:10:35.1400,2018-01-01,2018-01-01,00:58:23.3830,01:10:35.1400,285,...,88,11th St at Bryant St,37.770030,-122.411726,615,Subscriber,1993,Male,No,26
94754,791,13.183333,0.219722,2018-01-01 00:57:09.5690,2018-01-01 01:10:21.0090,2018-01-01,2018-01-01,00:57:09.5690,01:10:21.0090,28,...,67,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,2336,Subscriber,1990,Male,Yes,29
94755,787,13.116667,0.218611,2018-01-01 00:57:06.8340,2018-01-01 01:10:14.4680,2018-01-01,2018-01-01,00:57:06.8340,01:10:14.4680,28,...,67,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,774,Subscriber,1990,Male,Yes,29
94764,2379,39.650000,0.660833,2018-01-01 00:19:49.1170,2018-01-01 00:59:28.2030,2018-01-01,2018-01-01,00:19:49.1170,00:59:28.2030,17,...,8,The Embarcadero at Vallejo St,37.799953,-122.398525,346,Subscriber,1994,Female,Yes,25
94765,1056,17.600000,0.293333,2018-01-01 00:41:38.4440,2018-01-01 00:59:15.2390,2018-01-01,2018-01-01,00:41:38.4440,00:59:15.2390,15,...,13,Commercial St at Montgomery St,37.794231,-122.402923,2881,Subscriber,1992,Male,Yes,27
94766,2478,41.300000,0.688333,2018-01-01 00:17:54.5880,2018-01-01 00:59:13.4480,2018-01-01,2018-01-01,00:17:54.5880,00:59:13.4480,17,...,8,The Embarcadero at Vallejo St,37.799953,-122.398525,1586,Subscriber,1993,Female,Yes,26
94767,1165,19.416667,0.323611,2018-01-01 00:39:45.6700,2018-01-01 00:59:10.9530,2018-01-01,2018-01-01,00:39:45.6700,00:59:10.9530,15,...,13,Commercial St at Montgomery St,37.794231,-122.402923,1568,Subscriber,1993,Female,Yes,26
94768,996,16.600000,0.276667,2018-01-01 00:42:25.8340,2018-01-01 00:59:02.3920,2018-01-01,2018-01-01,00:42:25.8340,00:59:02.3920,15,...,13,Commercial St at Montgomery St,37.794231,-122.402923,533,Subscriber,1994,Male,Yes,25
94769,1181,19.683333,0.328056,2018-01-01 00:39:18.6070,2018-01-01 00:58:59.8360,2018-01-01,2018-01-01,00:39:18.6070,00:58:59.8360,15,...,13,Commercial St at Montgomery St,37.794231,-122.402923,1691,Subscriber,1993,Male,Yes,26
94770,2603,43.383333,0.723056,2018-01-01 00:15:33.3690,2018-01-01 00:58:56.5220,2018-01-01,2018-01-01,00:15:33.3690,00:58:56.5220,17,...,8,The Embarcadero at Vallejo St,37.799953,-122.398525,1788,Subscriber,1994,Male,Yes,25
94771,1185,19.750000,0.329167,2018-01-01 00:38:57.3830,2018-01-01 00:58:42.8560,2018-01-01,2018-01-01,00:38:57.3830,00:58:42.8560,25,...,97,14th St at Mission St,37.768265,-122.420110,3051,Subscriber,1993,Male,No,26
94776,277,4.616667,0.076944,2018-01-01 00:50:11.6760,2018-01-01 00:54:49.5630,2018-01-01,2018-01-01,00:50:11.6760,00:54:49.5630,198,...,195,Bay Pl at Vernon St,37.812314,-122.260779,890,Subscriber,1975,Female,No,44
94784,1352,22.533333,0.375556,2018-01-01 00:28:16.1280,2018-01-01 00:50:48.2700,2018-01-01,2018-01-01,00:28:16.1280,00:50:48.2700,97,...,27,Beale St at Harrison St,37.788059,-122.391865,3562,Subscriber,1980,Male,No,39
94785,527,8.783333,0.146389,2018-01-01 00:41:11.2310,2018-01-01 00:49:58.9970,2018-01-01,2018-01-01,00:41:11.2310,00:49:58.9970,79,...,44,Civic Center/UN Plaza BART Station (Market St ...,37.781074,-122.411738,3386,Subscriber,1985,Female,No,34
94786,516,8.600000,0.143333,2018-01-01 00:41:11.4350,2018-01-01 00:49:47.8650,2018-01-01,2018-01-01,00:41:11.4350,00:49:47.8650,79,...,44,Civic Center/UN Plaza BART Station (Market St ...,37.781074,-122.411738,1793,Subscriber,1981,Female,No,38
94787,211,3.516667,0.058611,2018-01-01 00:42:55.1300,2018-01-01 00:46:26.7540,2018-01-01,2018-01-01,00:42:55.1300,00:46:26.7540,215,...,192,37th St at West St,37.826696,-122.271796,2278,Subscriber,1980,Male,No,39
94799,1151,19.183333,0.319722,2018-01-01 00:09:31.7450,2018-01-01 00:28:43.1590,2018-01-01,2018-01-01,00:09:31.7450,00:28:43.1590,97,...,125,20th St at Bryant St,37.759200,-122.409851,3455,Subscriber,1992,Male,No,27
94800,714,11.900000,0.198333,2018-01-01 00:07:52.9430,2018-01-01 00:19:47.0750,2018-01-01,2018-01-01,00:07:52.9430,00:19:47.0750,74,...,70,Central Ave at Fell St,37.773311,-122.444293,2423,Subscriber,1986,Male,No,33
94801,145,2.416667,0.040278,2018-01-01 00:07:41.0400,2018-01-01 00:10:06.2410,2018-01-01,2018-01-01,00:07:41.0400,00:10:06.2410,316,...,311,Paseo De San Antonio at 2nd St,37.333798,-121.886943,2473,Subscriber,1957,Male,No,62

In [ ]:
# Code to test for multi-conditional column creation:

df.apply(lambda y: y['batch_id'] if 
                                (x['shipping_date'] >= y['start_date'] and x['shipping_date']<= y['end_date']
                                                and x['product_id'] == y['product_id'])
                                                else None, axis=1)

In [ ]:
# I wanted to create a function that would get all my conditions and output the cost of the ride, but its a work-in-progress

def cost_of_ride(series):
    """Takes in a series, in the intended case the ride in minutes (duration_min),
    and returns the cost of that ride to the rider.
    
    If the rider is of type subscriber and the ride is <= 45 minutes, there is no cost for that ride.
    
    If the rider is of type customer and the ride is <= 30 minutes, there is a $2 cost.
    
    Each additional 15 min past these lower bounds for each of these groups is $3."""
    
    for row in series:
        if row <= 45: